body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
.main {
    text-align: center;
    background: blueviolet;
}
.information {
    display: flex;
}
.information img {
    width: 300px;
    height: 300px;
    border-radius: 180px;
    margin-left: 150px;
    margin-top: 50px;
    border: 8px solid black;
}
.text_inf_head {
    margin-top: 120px;
    margin-left: 100px;
}
.text_inf {
    list-style-type: circle;
}
.my_information {
    background: blueviolet;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.my_information img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
